:root {
    --color-orange:#CDA274;
    --color-text:#292F36;
    --color-white:#FFF;
    --color-grey:#4D5053;
    --color-background:#F4F0EC;
}

body {
    font-family:"Jost";
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    margin-top: 26px;
    margin-bottom: 18px;
}

.logo-img {
    margin-bottom: 12px;
}

.header-logo {
    width: 177.0px;
    height: 50.0px;
} 

.header-list {
    margin: 0;
    padding: 0;
}

.header-item-link {
    color: var(--color-text);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.header-item-link:hover {
    color: var(--color-orange);
}

.section-hero {
    height: 831.0px;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 290px;
    background: url(../images/hero-bg.jpg), url() lightgray 50%, cover, no-repeat;
}   

.hero-container {
    padding-top: 195px;
    padding-bottom: 250px;
}

.hero-title {
    font-family: "DM Serif Display";
    color: var(--color-text);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-bottom: 19px;
    width: 595.0px;;
}

.hero-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-bottom: 35px;
    width: 577.0px;
}

.hero-btn {
    width: 207.0px;
    height: 71.0px;
    color: var(--color-white);
    background-color: var(--color-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.72px;
    border-radius: 18px;
    border: none;
}

.services {
    margin-top: 100px;
    margin-bottom: 100px;
}

.services-item {
    padding-top: 75px;
}

.services-title {
    color: var(--color-text);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-bottom: 17px;
}

.services-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
}

.services-link {
    color: var(--color-grey);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-align: center;
    display: inline-block;
}

.company-info {
    margin-bottom: 140.39px;
    padding-top: 26.8px;
    padding-bottom: 26.81px;
}

.company-info-title {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    width: 450.0px;
    margin-top: 40px;
    margin-bottom: 42px;
}

.company-info-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    width: 531.0px;
    margin-bottom: 29.8px;
}

.company-info-item-text {
    color: var(--color-grey);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-bottom: 0;
}

.company-info-list::before {
    content: "";
    background-image: url(/images/phone.png), url(/images/companu-info-btn.png);
    background-position: center, center;
    background-repeat: no-repeat;
    width: 93.0px;
    height: 93.0px;
    display: inline-block;
}

.company-info-btn {
    width: 263.0px;
    height: 71.0px;
    border-radius: 18px;
    color: var(--color-white);
    background-color: var(--color-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;   
    letter-spacing: 0.72px;
    margin-top: 10.2px;
    margin-bottom: 36.61px;
}

.company-info-img {
    width: 592.0px;
    height: 635.0px;
    border-radius: 0 326px 0 123px;
    background: url() lightgray 50% / cover no-repeat;
}

.feedbacks {
    margin-bottom: 139.61px;
}

.feedbacks-bg {
    background-color: var(--color-background);
    border-radius: 70px;
    padding: 103px 50px 120.39px 50px;
}

.feedbacks-item {
    background-color: var(--color-white);
    border-radius: 30px;
    padding: 49.61px 30px 45px 35px;
}

.feedbacks-title {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    text-align: center;
    margin-bottom: 45.61px;
    width: 479.0px;
}

.feedbacks-img {
    width: 77.0px;
    height: 77.0px;
    border-radius: 100px;
    background: url() lightgray 50% / cover no-repeat;
}

.feedbacks-subtitle {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-top: 5.39px;
    margin-bottom: 0;
}

.feedbacks-text {
    color: var(--color-grey);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-top: 25.39px;
    margin-bottom: 0;
}

.feedbacks-block-text {
    color: var(--color-grey);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.22px;
    margin-top: 0;
    margin-bottom: 6.61px;
}

.brands {
    margin-bottom: 100px;
}

.projects {
    margin-bottom: 79.89px;
    padding: 15px 10px 60px 10px;
}

.projects-title {
    color: var(--color-text);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    margin-bottom: 20px;
}

.projects-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-bottom: 70.61px;
    width: 786.0px;
}

.projects-img {
    width: 590.0px;
    height: 661.0px;
    border-radius: 0 80px 0 0;
    background: url() lightgray 50% / cover no-repeat;
}

.projects-subtitle {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    margin-top: 24.19px;
    margin-bottom: 0;
}

.projects-item-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-top: 0;
    margin-bottom: 0;
}

.projects-btn {
    width: 70.0px;
    height: 70.0px;
    border-radius: 100px;
    background-color: var(--color-background);
    border: none;
}

.numbers-section {
    margin-bottom: 130.02px;
    padding: 139.98px 0 140.02px 0;
    background-color: var(--color-background);
}

.numbers-item {
    padding-top: 14px ;
    padding-bottom: 10px;
}

.numbers-item::after {
    content: "";
    display:block;
    background-image: url(/images/line.png);
    width: 1.0px;
    height: 195.0px;
}

.numbers {
    color: var(--color-orange);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.5px;
    letter-spacing: 1.7px;
    margin-top: 0;
    margin-bottom: 10px;
}

.numbers-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.blogs {
    margin-bottom: 100.2px;
    padding-top: 15px;
    padding-bottom: 40.8px;
}

.blogs-title {
    color: var(--color-text);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    margin-bottom: 21px;
}

.blogs-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px; 
    margin-bottom: 70px;
    width: 589.0px;
}

.blogs-item {
    padding-top: 21.02px;
    padding-bottom: 40.59px;
  
}

.blogs-img {
    width: 345.0px;
    height: 296.0px;
    border-radius: 45px 45px 0 0;
    background: url() lightgray 50% / cover no-repeat;
}

.blogs-subtitle {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    margin-top: 14.59px;
}

.blogs-item-text {
    color: var(--color-grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.22px;
    margin-top: 34px;
    margin-bottom: 55px;
}

.connect {
    margin-bottom: 79.8px;
    height: 414.0px;
}

.connect-title {
    color: var(--color-white);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.22px;
}

.connect-bg {
    background-color: var(--color-text);
    border-radius: 70px;
    height: 414.0px;
}

.connect-text {
    color: var(--color-white);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.connect-btn {
    color: var(--color-white);
    background-color: var(--color-orange);
    width: 241.0px;
    height: 71.0px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.22px;
    border-radius: 18px;
    border: none;
}

.footer-logo {
    width: 177.0px;
    height: 50.0px;
}

.footer-subtitle {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
}

.footer-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}