:root {
    --color-orange:#CDA274;
    --color-text:#292F36;
    --color-white:#FFF;
    --color-grey:#4D5053;
    --color-background:#F4F0EC;
    --color-border:#E5E5E5;
}

body {
    font-family:"Jost";
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    margin-top: 26px;
    margin-bottom: 18px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
     flex-wrap: nowrap;
}

.logo-img {
    margin-bottom: 12px;
}

.header-logo {
    width: 177.0px;
    height: 50.0px;
} 

.box-logo {
    display: flex;
}

.header-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.header-item-link {
    color: var(--color-text);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.header-item-link:hover {
    color: var(--color-orange);
}

.section-hero {
    height: 831.0px;
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 290px;
    background: url(../images/hero-bg.jpg), url() lightgray 50%, cover, no-repeat;
}   

.hero-container {
    padding-top: 195px;
    padding-bottom: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-title {
    font-family: "DM Serif Display";
    color: var(--color-text);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-bottom: 19px;
    width: 595.0px;;
}

.hero-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-bottom: 35px;
    width: 577.0px;
}

.hero-btn {
    width: 207.0px;
    height: 71.0px;
    color: var(--color-white);
    background-color: var(--color-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.72px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}

.services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex-shrink: calc(100%/3);
}

.services-item {
    padding: 75px 50px;
    width: 400.0px;
    height: 395.0px;
    text-align: center;
    flex-basis: 400px;
}

.services-title {
    color: var(--color-text);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-bottom: 17px;
}

.services-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 33px;
    margin: 17px 0 35px 0;
}

.services-link {
    width: 320.0px;
    height: 47.0px;
    padding: 20px 98px 0 98px;
    border: none;
    color:var(--color-grey);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-align: center;
    text-align: center;
}

.company-info {
    margin-bottom: 140.39px;
    padding-bottom: 26.81px;
}

.company-info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 16px;
}

.company-info-title {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    width: 450.0px;
    margin-top: 40px;
    margin-bottom: 42px;
}

.company-info-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    width: 531.0px;
    margin-bottom: 29.8px;
}

.company-info-item-text {
    color: var(--color-grey);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin: 0;
}

.company-info-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.company-info-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 50px;
}

.company-info-list::before {
    content: "";
    background-image: url(/images/phone.png), url(/images/company-info-btn.png);
    background-position: center, center;
    background-repeat: no-repeat;
    width: 93.0px;
    height: 93.0px;
    display: inline-block;
}

.company-info-btn {
    width: 263.0px;
    height: 71.0px;
    border-radius: 18px;
    color: var(--color-white);
    background-color: var(--color-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;   
    letter-spacing: 0.72px;
    margin-top: 10.2px;
    margin-bottom: 36.61px;
    cursor: pointer;
}

.box-img {
    display: flex;
    justify-content: flex-end;
}

.company-info-img {
    width: 592.0px;
    height: 635.0px;
    border-radius: 0 326px 0 123px;
    background: url() lightgray 50% / cover no-repeat;
}

.feedbacks {
    margin-bottom: 139.61px;
}

.feedbacks-bg {
    background-color: var(--color-background);
    border-radius: 70px;
    padding: 103px 50px 120.39px 50px;
}

.feedbacks-list {
    display: flex;
    gap: 16px;
    padding: 0;
}

.feedbacks-item {
    background-color: var(--color-white);
    border-radius: 30px;
    padding: 49.61px 30px 45px 35px;
}

.feedbacks-title {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    text-align: center;
    margin-bottom: 45.61px;
    width: 479.0px;
    margin: 0  auto;
    margin-bottom: 43px;
}

.box-feedbscks-img {
    display: flex;
    gap: 20px;
    align-items: center;
}

.feedbacks-img {
    width: 77.0px;
    height: 77.0px;
    border-radius: 100px;
    background: url() lightgray 50% / cover no-repeat;
}

.feedbacks-subtitle {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-top: 5.39px;
    margin-bottom: 0;
}

.feedbacks-text {
    color: var(--color-grey);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin-top: 25.39px;
    margin-bottom: 0;
}

.feedbacks-block-text {
    color: var(--color-grey);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.22px;
    margin-top: 0;
    margin-bottom: 6.61px;
}

.brands {
    margin-bottom: 100px;
}

.brands-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.projects {
    margin-bottom: 79.89px;
    padding: 15px 10px 60px 10px;
}

.projects-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
}

.projects-title {
    color: var(--color-text);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    margin-bottom: 20px;
}

.projects-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 786.0px;
    margin: 0 auto;
    margin-bottom: 70.6px;
}

.projects-img {
    width: 590.0px;
    height: 661.0px;
    border-radius: 0 80px 0 0;
    background: url() lightgray 50% / cover no-repeat;
}

.projects-subtitle {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    margin-top: 24.19px;
    margin-bottom: 0;
}

.projects-item-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-top: 0;
    margin-bottom: 0;
}

.projects-wrap2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-info {
    display: flex;
    flex-direction: column;
}

.projects-box-btn {
    display: flex;
    justify-content: flex-end;
}

.projects-btn {
    width: 70.0px;
    height: 70.0px;
    border-radius: 100px;
    background-color: var(--color-background);
    border: none;
    cursor: pointer;
}

.numbers-section {
    margin-bottom: 130.02px;
    padding: 139.98px 0 140.02px 0;
    background-color: var(--color-background);
}

.numbers-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.numbers-item {
    padding-top: 14px ;
    padding-bottom: 10px;
     border-right: 1px solid var(--color-orange);
     width: 288.0px;
height: 195.0px;
}

.numbers {
    color: var(--color-orange);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.5px;
    letter-spacing: 1.7px;
    margin-top: 0;
    margin-bottom: 10px;
}

.numbers-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin: 0;
}

.blogs {
    margin-bottom: 100.2px;
    padding-top: 15px;
    padding-bottom: 40.8px;
}

.blogs-title {
    color: var(--color-text);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    margin-bottom: 21px;
}

.blogs-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px; 
    width: 589.0px;
    margin: 0 auto 70.02px auto;
}

.blogs-list {
    display: flex;
    gap:40px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blogs-item {
    padding: 21px 22px 40px;
    padding-bottom: 40.59px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 387.0px;
    height: 515.0px;
    border-radius: 45px 45px;
    flex-basis: calc((100% - 40px) / 3);
}

.blogs-item:hover {
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.blogs-img {
    display: block;
    width: 100%;
    height: 296.0px;
    border-radius: 45px 45px 0 0;
    object-fit: cover; 
}

.blogs-subtitle {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    margin-top: 14.59px;
}

.blogs-item-text {
    color: var(--color-grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.22px;
    margin-top: 33px;
}

.blogs-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.blogs-btn {
    width: 52.0px;
    height: 52.0px;
    border-radius: 100px;
    background-color: var(--color-background);
    border: none;
    cursor: pointer;
}

.connect {
    margin-bottom: 79.8px;
    height: 414.0px;
}

.connect-title {
    color: var(--color-white);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.22px;
    margin-bottom: 9px;
}

.connect-bg {
    background-color: var(--color-text);
    border-radius: 70px;
    height: 414.0px;
    padding-top: 100px;
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect-text {
    color: var(--color-white);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-top: 0;
    margin-bottom: 31px;
}

.connect-btn {
    color: var(--color-white);
    background-color: var(--color-orange);
    width: 241.0px;
    height: 71.0px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.22px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
}

.footer {
    padding-top: 50px;
}

.footer-logo {
    width: 177.0px;
    height: 50.0px;
    margin-bottom: 15px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.footer-list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer-wrap .footer-list:last-child {
    max-width:321.0px;
}

.footer-subtitle {
    color: var(--color-text);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    margin-bottom: 21.8px;
}

.footer-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    width: 326.0px;
    margin-top: 0;
    margin-bottom: 9.8px;
}

.footer-item-text {
    color: var(--color-grey);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-bottom: 30px;
    margin-top: 0;
}

.footer-item-text:hover {
    color: var(--color-orange);
    cursor: pointer;
}

.socials {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.icon {
    width: 16.0px;
    height: 17.0px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.facebook {
    background-image: url(/images/facebook.png);
}

.twitter {
    background-image: url(/images/twitter.png);
}

.in {
    background-image: url(/images/in.png);
}

.instagram {
    background-image: url(/images/instagram.png);
}

.footer-second {
    padding-top: 35.8px;
    padding-bottom: 35.2px;
    margin-top: 0;
    border: 1px solid var(--color-background);
}

.footer-second-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.footer-second-link {
    color: var(--color-orange);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.footer-second-text {
    color: var(--color-grey);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}